*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.pai{
    /* position: relative; */
    margin: auto;
    margin-top: 30px;
    height: 300px;
    width: 300px;
    background-color: blue;
    display: flex;
    align-items:center;
    justify-content: center;


}
.filho{
    height: 100px;
    width: 100px;
    background-color: green;
    margin-left: 15px;
}